<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767304988773-uheoitgrcs3ai3rgikmh06i1pgern1hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767304988773-uheoitgrcs3ai3rgikmh06i1pgern1hc</string>
	<key>API_KEY</key>
	<string>AIzaSyAiu3zCu2jjk5QerVoG93EEVlqxnwEtCjk</string>
	<key>GCM_SENDER_ID</key>
	<string>767304988773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeboda</string>
	<key>PROJECT_ID</key>
	<string>safeboda-project</string>
	<key>STORAGE_BUCKET</key>
	<string>safeboda-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767304988773:ios:c97edbcbbd0cd36ee36e8c</string>
</dict>
</plist>